extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Очки для плавания'

block navbar
  +navbar('Очки')

block content
  +b.page#catalog
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Очки', 'Очки для плавания'])

      +grid.page__grid
        +col(3).page__sidebar
          +sidebar
            - var categoriesAcccordionData = getData('catalog-categories-menu')
            - var reviewsData = getData('catalog-sidebar-reviews')

            +sidebar-item
              each categoriesAccordion, index in categoriesAcccordionData
                +vertical-menu(categoriesAccordion.title, categoriesAccordion.links, true)._accordion(class=index === 0 ? 'is-active' : '')

            +sidebar-item
              +card-widget('Случайный отзыв:', 'Все отзывы')
                +review-card(reviewsData[0])._simple

            +sidebar-item
              +card-widget('Отзыв о магазине:', 'Все отзывы')
                +review-card(reviewsData[1])._simple

        +col({ xl: 9, lg: 12 }).page__content
          +sort-ui('Очки для плавания', '174', 'товара')
            +sort-ui-col
              +sort-dropdown._sort
                +sort-dropdown-button
                  span {{selectedSortItem.title}}
                  svg(v-if="selectedSortItem.icon" class="sort-dropdown__icon")
                    use(v-bind="{'xlink:href': 'assets/images/icon.svg#icon_'+selectedSortItem.icon}")
                +sort-dropdown-body
                  +sort-dropdown-list
                    +sort-dropdown-item(v-for="sortItem in sortList")
                      +sort-dropdown-link(
                          href="#",
                          @click.prevent="selectSortItem(sortItem)"
                        )
                        span {{sortItem.title}}
                        svg(v-if="sortItem.icon" class="sort-dropdown__icon")
                          use(v-bind="{'xlink:href': 'assets/images/icon.svg#icon_'+sortItem.icon}")

          +filter-section._simple(v-if="filtersApplied")
            +filter-section-grid._flexible
              +filter-section-col
                +filter-section-heading Ваш выбор:
              +filter-section-col(v-for="product in selectedProducts")
                +choice.BUTTON(type="button", @click="resetItem('productList', product)") {{product.title}}
              +filter-section-col(v-for="genderItem in selectedGender")
                +choice.BUTTON(type="button", @click="resetItem('gender', genderItem)") {{genderItem.title}}
              +filter-section-col(v-for="brand in selectedBrands")
                +choice.BUTTON(type="button", @click="resetItem('brandList', brand)") {{brand.title}}
              +filter-section-col(v-if="priceApplied")
                +choice.BUTTON(type="button", @click="resetPrice") {{priceValue}}
            +filter-section-grid
              +filter-section-col._not_shrinkable
                +button(
                  type="button",
                  @click="resetFilters",
                ).BUTTON._size_sm._transparent
                  +icon('cancel copy').icon._cancel
                  | Сбросить все

          +filter-buttons(true, true)

          +filter-section
            +filter-section-grid
              +filter-section-col
                +filter-section-heading Фильтры:
              +filter-section-col
                +sort-dropdown._products
                  +sort-dropdown-button {{productsValue}}
                  +sort-dropdown-body
                    +sort-dropdown-list
                      +sort-dropdown-item(v-for="product in productList")
                        +checkboxsep
                          +checkboxsepinput(
                            type='checkbox',
                            :name='product.name',
                            :value='product.value',
                            v-model='product.checked',
                          )
                          +checkboxsepcontent {{product.title}}
                    +sort-dropdown-submit("submitFilter('products')")

              +filter-section-col
                +sort-dropdown
                  +sort-dropdown-button {{genderValue}}
                  +sort-dropdown-body
                    +sort-dropdown-list
                      +sort-dropdown-item(v-for="genderItem in gender")
                        +checkboxsep
                          +checkboxsepinput(
                            type='checkbox',
                            :name='genderItem.name',
                            :value='genderItem.value',
                            v-model='genderItem.checked',
                          )
                          +checkboxsepcontent {{genderItem.title}}
                    +sort-dropdown-submit("submitFilter('gender')")

              +filter-section-col
                +sort-dropdown._brands
                  +sort-dropdown-button {{brandsValue}}
                  +sort-dropdown-body
                    +searchbarsplit._small
                      +searchbarsplit-input(
                        placeholder='Поиск бренда...',
                        name='filter-brands-search',
                        v-model="brandSearch"
                      )
                    +sort-dropdown-list
                      +sort-dropdown-item(v-for="brand in brandsFilter")
                        +checkboxsep
                          +checkboxsepinput(
                            type='checkbox',
                            :name='brand.name',
                            :value='brand.value',
                            v-model='brand.checked',
                          )
                          +checkboxsepcontent {{brand.title}}
                    +sort-dropdown-submit("submitFilter('brands')")

              +filter-section-col
                +sort-dropdown._price
                  +sort-dropdown-button {{priceItemValue}}
                  +sort-dropdown-body
                    +inputbox.sort-dropdown__range
                      +range(true).js-catalog-price-slider

                    +inputbox.sort-dropdown__inputs
                      +input(
                        data-handler="0",
                        type="number",
                        v-model.number="price.minValue",
                        :min="price.min",
                        :max="price.max",
                        @input="handlePriceChange",
                      )
                      +input(
                        data-handler="1",
                        type="number",
                        v-model.number="price.maxValue",
                        :min="price.min",
                        :max="price.max",
                        @input="handlePriceChange",
                      )

                    +sort-dropdown-submit("submitFilter('price')")

          +catalog-section(getData('catalog-cards'))

          +section-footer

          +catalog-seo-section

    +filter-burger
    +sort-burger

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup
  +preview-popup
  +opt-status-popup
  +phonecall-status-popup
  +phonecall-status2-popup
  +subscribe-status-popup
  +subscribe-status2-popup
  +order-status-popup
  +callback-popup 
  +discount-popup
  +item-added-popup

block scripts
  script(src='assets/scripts/catalog-filter.js')
