mixin product-card(data, isSmall)
  +b.product-card&attributes(attributes)
    +e.A(href="product.html").mobile-link

    if data.badge
      +badge(class=data.badge.mod).__badge=data.badge.title

    if data.image
      +e.A(href="product.html").image
        img(src=`content-img/product-cards/${data.image}.jpg` alt=data.heading)

        if data.button
          +button.__button.DIV Быстрый просмотр

    if data.images
      +e.image
        +product-main-slider(data.images, data.heading, false)

        if data.button
          +button.DIV._size_md.__button Быстрый просмотр

      +e.nav
        +product-nav-slider(data.images, data.heading)._filter.js-product-nav-slider

    +e.DIV.body
      +e.A.heading(href="product.html" class=isSmall ? 'js-truncate' : '')=data.heading
      if data.sizes
        +e.P.sizes=data.sizes
      +e.price
        +e.SPAN.pricecurrent #{data.price} #[+e.SPAN.pricecurrency руб.]
        if data.oldPrice
          +e.S.priceold #{data.oldPrice} #[+e.SPAN.pricecurrency руб.]
      if data.rating
        +rating(data.rating.activeStar).__rating
          if data.rating.text
            +rating-text._grey!= data.rating.text
      if data.buyInOneClick
        +e.P.buywrap
          +link-icon('Cart button').__buy Купить в 1 клик
      if data.buyButton
        +e.DIV.buyblock
          +button._block.__buybutton.js-add-basket(data-in-basket="Товар в корзине" data-in-basket-short="В корзине" data-name="Добавить в корзину" data-name-short="В корзину" href="#") Добавить в корзину
