mixin product-card(data)
  +b.product-card&attributes(attributes)
    if data.badge
      +badge(class=data.badge.mod).__badge=data.badge.title

    if data.image
      +e.A(href="javascript:void(0)").image
        img(src=`content-img/product-cards/${data.image}.jpg` alt=data.heading)

        if data.button
          +button.__button Быстрый просмотр

    if data.images
      +e.image
        +product-main-slider(data.images, data.heading, false)

        if data.button
          +button._size_md.__button Быстрый просмотр

      +e.nav
        +product-nav-slider(data.images, data.heading)

    +e.DIV.body
      +e.A(href="javascript:void(0)").heading=data.heading
      if data.sizes
        +e.P.sizes=data.sizes
      +e.price
        +e.SPAN.pricecurrent #{data.price} #[+e.SPAN.pricecurrency руб.]
        if data.oldPrice
          +e.S.priceold #{data.oldPrice} #[+e.SPAN.pricecurrency руб.]
      +rating(data.rating.activeStar).__rating
        if data.rating.text
          +rating-text._grey #{data.rating.text}
      if data.buyInOneClick
        +e.P.buywrap
          +link-icon('Cart button').__buy Купить в 1 клик
