mixin filter-burger(isReviews)
  +b.burger._filter.js-filter-burger#filter-burger&attributes(attributes)
    +e.overlay.js-filter-burger-close
    +e.content
      +e.HEADER.section.__header
        .container
          +e.headerlinks
            +link-icon('filter_icon_mobile')._dark.__headerlink.is-active Фильтры

          +e.BUTTON.close.js-filter-burger-close
            +icon('close-menu')

      +e.subheader
        +filter-section._mobile
          +filter-section-grid._flexible
            +filter-section-col._full
              +filter-section-heading Ваш выбор: ({{appliedCount}})
            +filter-section-col(v-for="product in selectedProducts" v-if="productsApplied")
              +choice.BUTTON(type="button", @click="resetItem('productList', product)") {{product.title}}
            unless isReviews
              +filter-section-col(v-for="genderItem in selectedGender" v-if="genderApplied")
                +choice.BUTTON(type="button", @click="resetItem('gender', genderItem)") {{genderItem.title}}
              +filter-section-col(v-for="brand in selectedBrands" v-if="brandsApplied")
                +choice.BUTTON(type="button", @click="resetItem('brandList', brand)") {{brand.title}}
            unless isReviews
              +filter-section-col(v-if="priceApplied")
                +choice.BUTTON(type="button", @click="resetPrice") {{priceValue}}
          +filter-section-grid(v-if="filtersApplied")
            +filter-section-col._not_shrinkable
              +button(
                type="button",
                @click="resetFilters",
              ).BUTTON._size_sm._transparent
                +icon('cancel copy').icon._cancel
                | Сбросить все

        +e.innercontent
          +accordion._big_divider
            +accordion-header
              +accordion-button Категории
            +accordion-body
              - var categoriesAcccordionData = getData('catalog-categories-menu')
              each categoriesAccordion, index in categoriesAcccordionData
                +vertical-menu(categoriesAccordion.title, categoriesAccordion.links, true)._accordion(class=index === 0 ? 'is-active' : '')

          +sort-dropdown._products
            +sort-dropdown-button {{productsValue}}
            +sort-dropdown-body
              +sort-dropdown-list(true)
                +sort-dropdown-item(v-for="product in productList")
                  +checkboxsep
                    +checkboxsepinput(
                      type='checkbox',
                      :name='product.name',
                      :value='product.value',
                      v-model='product.checked',
                    )
                    +checkboxsepcontent {{product.title}}
              +sort-dropdown-submit("submitFilter('products')")
        unless isReviews
          +sort-dropdown
            +sort-dropdown-button {{genderValue}}
            +sort-dropdown-body
              +sort-dropdown-list(true)
                +sort-dropdown-item(v-for="genderItem in gender")
                  +checkboxsep
                    +checkboxsepinput(
                      type='checkbox',
                      :name='genderItem.name',
                      :value='genderItem.value',
                      v-model='genderItem.checked',
                    )
                    +checkboxsepcontent {{genderItem.title}}
              +sort-dropdown-submit("submitFilter('gender')")

          +sort-dropdown._brands
            +sort-dropdown-button {{brandsValue}}
            +sort-dropdown-body
              +searchbarsplit._small
                +searchbarsplit-input(
                  placeholder='Поиск бренда...',
                  name='filter-brands-search',
                  v-model="brandSearch"
                )
              +sort-dropdown-list(true)
                +sort-dropdown-item(v-for="brand in cutBrands")
                  +checkboxsep
                    +checkboxsepinput(
                      type='checkbox',
                      :name='brand.name',
                      :value='brand.value',
                      v-model='brand.checked',
                    )
                    +checkboxsepcontent {{brand.title}}

              +link(
                v-if="brandsFilter.length > 8 && cutoffBrands",
                @click="cutoffBrands = false"
              ).__readmore Показать еще
              +sort-dropdown-submit("submitFilter('brands')")

        unless isReviews
          +sort-dropdown._price
            +sort-dropdown-button {{priceItemFullValue}}
            +sort-dropdown-body
              +inputbox.sort-dropdown__range
                +range(true).js-catalog-price-slider

              +inputbox.sort-dropdown__inputs
                +input(
                  data-handler="0",
                  type="number",
                  v-model.number="price.minValue",
                  :min="price.min",
                  :max="price.max",
                  @change="handlePriceChange",
                )
                +input(
                  data-handler="1",
                  type="number",
                  v-model.number="price.maxValue",
                  :min="price.min",
                  :max="price.max",
                  @change="handlePriceChange",
                )

              +sort-dropdown-submit("submitFilter('price')")
