extends ../../layouts/default

block head
  - var pageTitle = 'Proswim - Все отзывы о товарах'

block navbar
  +navbar

block content
  +b.page#reviewsPage
    .container
      +e.head
        +e.headcol._flexible
          +breadcrumbs(['Главная', 'Все отзывы о товарах'])

      +grid.page__grid
        +col(3).page__sidebar
          +sidebar
            - var categoriesAcccordionData = getData('catalog-categories-menu')

            +sidebar-item
              each categoriesAccordion, index in categoriesAcccordionData
                +vertical-menu(categoriesAccordion.title, categoriesAccordion.links, true)._accordion(class=index === 0 ? 'is-active' : '')

        +col({ xl: 9, lg: 12 }).page__content
          +sort-ui('Все отзывы о товарах', '174', 'отзыва', true)
            +sort-ui-col
              +sort-dropdown._products
                +sort-dropdown-button {{productsValue}}
                +sort-dropdown-body
                  +sort-dropdown-list
                    +sort-dropdown-item(v-for="product in productList")
                      +checkboxsep
                        +checkboxsepinput(
                          type='checkbox',
                          :name='product.name',
                          :value='product.value',
                          v-model='product.checked',
                        )
                        +checkboxsepcontent {{product.title}}
                  +sort-dropdown-submit("submitFilter('products')")
            +sort-ui-col
              +sort-dropdown._brands
                +sort-dropdown-button {{brandsValue}}
                +sort-dropdown-body
                  +searchbarsplit._small
                    +searchbarsplit-input(
                      placeholder='Поиск бренда...',
                      name='filter-brands-search',
                      v-model="brandSearch"
                    )
                  +sort-dropdown-list
                    +sort-dropdown-item(v-for="brand in brandsFilter")
                      +checkboxsep
                        +checkboxsepinput(
                          type='checkbox',
                          :name='brand.name',
                          :value='brand.value',
                          v-model='brand.checked',
                        )
                        +checkboxsepcontent {{brand.title}}
                  +sort-dropdown-submit("submitFilter('brands')")
          +filter-buttons(true)
          +reviews-section-full(getData('reviews-page'))
          +section-footer

    +filter-burger(true)

block popups
  +login-popup
  +registration-popup
  +password-recovery-popup
  +registration-complete-popup

block scripts
  script(src='assets/scripts/reviews-filter.js')
