mixin navbar(activeMenuItem)
  +b.NAV.navbar&attributes(attributes)
    .container.navbar__container
      +e.UL.col
        +e.LI.item
          +e.A.link(href="catalog.html" class=activeMenuItem === 'Очки' ? 'is-active' : '') Очки
          +navbar-dropdown
        +e.LI.item
          +e.A.link(href="catalog.html" class=activeMenuItem === 'Шапочки' ? 'is-active' : '') Шапочки
          +navbar-dropdown
        +e.LI.item
          +e.A.link(href="catalog.html" class=activeMenuItem === 'Аксессуары' ? 'is-active' : '') Аксессуары
          +navbar-dropdown2
        +e.LI.item
          +e.A.link(href="catalog.html" class=activeMenuItem === 'Купальники' ? 'is-active' : '') Купальники
          +navbar-dropdown
        +e.LI.item
          +e.A.link(href="catalog.html" class=activeMenuItem === 'Плавки' ? 'is-active' : '') Плавки
          +navbar-dropdown
        +e.LI.item
          +e.A.link(href="catalog.html" class=activeMenuItem === 'Гидрокостюмы' ? 'is-active' : '') Гидрокостюмы
          +navbar-dropdown
        +e.LI.item
          +e.A.link(href="catalog.html" class=activeMenuItem === 'Прочее' ? 'is-active' : '') Прочее
          +navbar-dropdown
      +e.UL.col
        +e.LI.item
          +e.A.link(href="catalog.html" class=activeMenuItem === 'Скидки' ? 'is-active' : '') Скидки
          +navbar-dropdown
        +e.LI.item
          +e.A.link(href="catalog.html" class=activeMenuItem === 'Бренды' ? 'is-active' : '') Бренды
          +navbar-dropdown3
      +e.col._searchbar
        +searchbar("Введите название товара...").__searchbar

mixin navbar-dropdown
  +e.dropdown
    .container.navbar__container
      +e.dropdowncol
        +vertical-menu('Очки').__vertical-menu
          +vertical-menu-link(href='catalog.html') Очки для старта
          +vertical-menu-link(href='catalog.html') Премиум-очки
          +vertical-menu-link(href='catalog.html') Повседневные очки
          +vertical-menu-link(href='catalog.html') Маски и трубки
      +e.dropdowncol
        +vertical-menu('Аксессуары').__vertical-menu
          +vertical-menu-link(href='catalog.html') Антифог-спреи
          +vertical-menu-link(href='catalog.html') Тряпочки для протирания
          +vertical-menu-link(href='catalog.html') Сменные ремни
      +e.dropdowncol
        +vertical-menu('Бренды').__vertical-menu
          +vertical-menu-link(href='catalog.html') Arena
          +vertical-menu-link(href='catalog.html') Speedo
          +vertical-menu-link(href='catalog.html') TYR
          +vertical-menu-link(href='catalog.html') Finis
          +vertical-menu-link(href='catalog.html') Mosconi
          +vertical-menu-link(href='catalog.html') Mad Wave
          +vertical-menu-link(href='catalog.html') Aqua Sphere
      +e.dropdowncol
        +vertical-menu('Смотрите также').__vertical-menu
          +vertical-menu-link(href='catalog.html') Новинки
          +vertical-menu-link(href='catalog.html') Распродажа
          +vertical-menu-link(href='catalog.html') Бестселлеры
          +vertical-menu-link(href='catalog.html') Летняя коллекция
      +e.dropdowncol
        +e.A(href="javascript:void(0);").banner
          img(src="content-img/navbar-dropdown-banner.jpg" alt="Banner")

mixin navbar-dropdown2
  +e.dropdown
    .container.navbar__container
      +e.dropdowncol
        +vertical-menu('Очки').__vertical-menu
          +vertical-menu-link(href='catalog.html') Очки для старта
          +vertical-menu-link(href='catalog.html') Премиум-очки
          +vertical-menu-link(href='catalog.html') Повседневные очки
          +vertical-menu-link(href='catalog.html') Маски и трубки
        +vertical-menu('Очки').__vertical-menu
          +vertical-menu-link(href='catalog.html') Очки для старта
          +vertical-menu-link(href='catalog.html') Премиум-очки
          +vertical-menu-link(href='catalog.html') Повседневные очки
          +vertical-menu-link(href='catalog.html') Маски и трубки
      +e.dropdowncol
        +vertical-menu('Аксессуары').__vertical-menu
          +vertical-menu-link(href='catalog.html') Антифог-спреи
          +vertical-menu-link(href='catalog.html') Тряпочки для протирания
          +vertical-menu-link(href='catalog.html') Сменные ремни
        +vertical-menu('Аксессуары').__vertical-menu
          +vertical-menu-link(href='catalog.html') Антифог-спреи
          +vertical-menu-link(href='catalog.html') Тряпочки для протирания
          +vertical-menu-link(href='catalog.html') Сменные ремни
      +e.dropdowncol
        +vertical-menu('Очки').__vertical-menu
          +vertical-menu-link(href='catalog.html') Очки для старта
          +vertical-menu-link(href='catalog.html') Премиум-очки
          +vertical-menu-link(href='catalog.html') Повседневные очки
          +vertical-menu-link(href='catalog.html') Маски и трубки
        +vertical-menu('Очки').__vertical-menu
          +vertical-menu-link(href='catalog.html') Очки для старта
          +vertical-menu-link(href='catalog.html') Премиум-очки
          +vertical-menu-link(href='catalog.html') Повседневные очки
          +vertical-menu-link(href='catalog.html') Маски и трубки
      +e.dropdowncol
        +vertical-menu('Аксессуары').__vertical-menu
          +vertical-menu-link(href='catalog.html') Антифог-спреи
          +vertical-menu-link(href='catalog.html') Тряпочки для протирания
          +vertical-menu-link(href='catalog.html') Сменные ремни
        +vertical-menu('Аксессуары').__vertical-menu
          +vertical-menu-link(href='catalog.html') Антифог-спреи
          +vertical-menu-link(href='catalog.html') Тряпочки для протирания
          +vertical-menu-link(href='catalog.html') Сменные ремни
      +e.dropdowncol
        +vertical-menu('Бренды').__vertical-menu
          +vertical-menu-link(href='catalog.html') Arena
          +vertical-menu-link(href='catalog.html') Speedo
          +vertical-menu-link(href='catalog.html') TYR
          +vertical-menu-link(href='catalog.html') Finis
          +vertical-menu-link(href='catalog.html') Mosconi
          +vertical-menu-link(href='catalog.html') Mad Wave
          +vertical-menu-link(href='catalog.html') Aqua Sphere

mixin navbar-dropdown3
  +e.dropdown
    .container.navbar__container
      +e.dropdowncol
        +vertical-menu.__vertical-menu
          +vertical-menu-link(href='catalog.html') Adidas
          +vertical-menu-link(href='catalog.html') Adl
          +vertical-menu-link(href='catalog.html') Banana Republic
          +vertical-menu-link(href='catalog.html') Befree
          +vertical-menu-link(href='catalog.html') Betsy
          +vertical-menu-link(href='catalog.html') Caprice
          +vertical-menu-link(href='catalog.html') Concept Club
      +e.dropdowncol
        +vertical-menu.__vertical-menu
          +vertical-menu-link(href='catalog.html') Dorothy Perkins
          +vertical-menu-link(href='catalog.html') Gap
          +vertical-menu-link(href='catalog.html') Incity
          +vertical-menu-link(href='catalog.html') Jennyfer
          +vertical-menu-link(href='catalog.html') Kawaii Factory
          +vertical-menu-link(href='catalog.html') Keddo
          +vertical-menu-link(href='catalog.html') Lost Ink
          +vertical-menu-link(href='catalog.html') Love & Light
      +e.dropdowncol
        +vertical-menu.__vertical-menu
          +vertical-menu-link(href='catalog.html') Love Republic
          +vertical-menu-link(href='catalog.html') Mango
          +vertical-menu-link(href='catalog.html') Modis
          +vertical-menu-link(href='catalog.html') Motivi
          +vertical-menu-link(href='catalog.html') Nike
          +vertical-menu-link(href='catalog.html') Oodji
          +vertical-menu-link(href='catalog.html') Piazza Italia
          +vertical-menu-link(href='catalog.html') Puma
      +e.dropdowncol
        +vertical-menu.__vertical-menu
          +vertical-menu-link(href='catalog.html') River Island
          +vertical-menu-link(href='catalog.html') Roxy
          +vertical-menu-link(href='catalog.html') S.Oliver
          +vertical-menu-link(href='catalog.html') Sela
          +vertical-menu-link(href='catalog.html') Springfield
          +vertical-menu-link(href='catalog.html') Очки
          +vertical-menu-link(href='catalog.html') Tamaris
          +vertical-menu-link(href='catalog.html') Tommy Hilfiger
          +vertical-menu-link(href='catalog.html') Top Secret
      +e.dropdowncol
        +vertical-menu.__vertical-menu
          +vertical-menu-link(href='catalog.html') Topshop
          +vertical-menu-link(href='catalog.html') United Colors Of Benneton
          +vertical-menu-link(href='catalog.html') Vis-a-Vis
          +vertical-menu-link(href='catalog.html') Vitacci
          +vertical-menu-link(href='catalog.html') Women’s Secret
          +vertical-menu-link(href='catalog.html') Zarina
          +vertical-menu-link(href='catalog.html') Tvoe
          +vertical-menu-link(href='catalog.html')._blue Все бренды
